

.cabeçalho-moda {
    
    background-color: #BB86FC;
    color: white;
    
}
.valores-tabela{
    
    color: white;
    background-color: #424250;
   
}

.cabeçalho-casa {
    background-color: #00C4B4;
    color: white;
}

.valores-segunda-tabela {
    color: white;
    background-color: #424250

}



